.mainContainer {
	.spacesContainer {
		padding: 0px 32px;
		text-align: center;

		h2 {
			font-weight: 400;
			margin-top: 32px;
		}

		h4 {
			font-weight: 400;
		}

		.alertBar {
			margin-left: auto;
			margin-right: auto;
			margin-top: 48px;
		}
	}
}
