.container {
	position: relative;

	.welcomeImageContainer {
		position: absolute;
		left: 0;
		top: 0;
		height: 100vh;
		background: url(../../../assets/img/signin-welcome.jpg);
		background-position: center;
		background-size: cover;

		@media only screen and (max-width: 1023px) {
			display: none;
		}

		@media only screen and (min-width: 1024px) and (max-width: 1366px) {
			width: 30vw;
		}

		@media only screen and (min-width: 1367px) and (max-width: 1440px) {
			width: 25vw;
		}

		@media only screen and (min-width: 1441px) {
			width: 30vw;
		}

		.welcomeImageOverlay {
			height: 100%;
			width: 100%;
		}
	}

	.registerFormContainer {
		height: 100vh;
		position: absolute;
		margin: 0px auto;
		right: 0;
		top: 0;
		padding: 0px 64px;

		@media only screen and (max-width: 1023px) {
			width: 100vw;
			padding: 0px 16px;

			.inputForm {
				width: 65%;
				max-width: 800px;
			}
		}

		@media only screen and (min-width: 1024px) and (max-width: 1366px) {
			width: 70vw;

			.inputForm {
				width: 336px;
			}
		}

		@media only screen and (min-width: 1367px) and (max-width: 1440px) {
			width: 75vw;

			.inputForm {
				width: 400px;
			}
		}

		@media only screen and (min-width: 1441px) {
			width: 75vw;

			.inputForm {
				width: 400px;
			}
		}
	}
}
