@mixin ButtonBase {
	border: none;
	height: auto;
	color: white;
	padding: 8px 24px !important;
	background: var(--primary-dark);
}

.btnPrimary {
	@include ButtonBase();
	background: var(--primary-dark);
}

.btnPrimary:hover {
	@include ButtonBase();
	background: var(--primary-dark-dark);
}

.btnSecondary {
	@include ButtonBase();
	background: var(--secondary);
}

.btnSecondary:hover,
.btnSecondary:focus {
	@include ButtonBase();
	background: var(--secondary);
}

@mixin InputBase {
	border-radius: 4px;
}

.inputBase {
	@include InputBase();
}

.inputBase:hover,
.inputBase:focus {
	border-color: var(--primary);
	box-shadow: 0 0 4px rgba(48, 227, 202, 30%);
}

.spaceWrapper {
	margin: 8px;
	padding: 8px 16px;
	font-weight: 400;
	font-size: 1rem;
	border-radius: 32px;
	background: var(--primary);
	cursor: pointer;
}

.spaceWrapper:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.spaceWrapper,
.spaceWrapper span {
	transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.spaceWrapperSelected {
	background: var(--primary-dark);
	span {
		color: white !important;
	}
}

.spinnerContainer {
	width: 100%;
	max-width: 100vw;
	height: calc(100vh - 73px);
	z-index: 1000;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.85);
}

.spinnerContainer img {
	width: 112px;
}
