@mixin ButtonBase {
	border: none;
	height: auto;
	color: white;
	padding: 8px 24px !important;
	background: var(--primary-dark);
}

.btnPrimary {
	@include ButtonBase();
	background: var(--primary-dark);
}

.btnPrimary:hover {
	@include ButtonBase();
	background: var(--primary-dark-dark);
}

@mixin InputBase {
	border-radius: 4px;
}

.inputBase {
	@include InputBase();
}

.inputBase:hover,
.inputBase:focus {
	border-color: var(--primary);
	box-shadow: 0 0 4px rgba(48, 227, 202, 30%);
}

.spinnerContainer {
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.95);
}

.spinnerContainer img {
	width: 136px;
}
