.wrapper {
  position: relative;
  width: 100%;

  .sidePanel {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 100vh;
    position: absolute;
    padding: 40px 0px 0px 0px;
    border-right: 1px solid rgb(243, 243, 243);

    .selectItem {
      cursor: pointer;
      padding: 8px 16px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-bottom: 8px;
      background: white;
      transition: 0.2s all ease-in-out;
    }

    .selected {
      background: rgb(243, 243, 243);
    }
  }

  .mainContent {
    top: 0px;
    left: 320px;
    height: 100vh;
    max-width: 640px;
    position: absolute;
    padding: 40px 0px 0px 40px;

    .postDataContent {
      display: flex;
      margin-top: 16px;
      justify-content: flex-start;

      .dataItem {
        margin-right: 32px;
        text-align: center;
      }
    }

    .userPosts {
      margin-top: 32px;
      width: 100%;

      .post {
        width: 100%;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 12px;
        text-decoration: none;
        padding: 12px 12px 12px 12px;
        transition: 0.2s all ease-in-out;
        border: 1px solid rgb(243, 243, 243);

        &:last-child {
          margin-bottom: 0px;
        }

        &:hover {
          background: rgb(243, 243, 243);
        }

        .postText {
          font-size: 16px;
        }
      }
    }
  }
}

.questionModal {
  &BodyHeading {
    font-weight: 400 !important;
  }

  &BodyInput {
    margin-top: 16px;
    width: 100%;
  }

  &CancelButton {
    border-radius: 32px;
    &:hover {
      color: var(--primary-dark);
      border-color: var(--primary-dark);
    }
  }

  &OkButton {
    border-radius: 32px;
    background: var(--primary-dark);
    &:hover {
      background: var(--primary-dark-dark);
    }
  }
}
