.wrapper {
  position: relative;
  width: 100%;

  .sidePanel {
    padding: 40px 40px 0px 0px;
    position: absolute;
    width: 320px;
    left: 0px;
    top: 0px;

    .selectItem {
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 8px;
      margin-bottom: 8px;
      background: white;
      transition: 0.2s all ease-in-out;
    }

    .selected {
      background: rgb(243, 243, 243);
    }
  }

  .mainContent {
    position: absolute;
    left: 320px;
    top: 0px;
    max-width: 640px;
    padding: 40px 0px 0px 0px;

    .postDataContent {
      display: flex;
      margin-top: 16px;
      justify-content: flex-start;

      .dataItem {
        margin-right: 32px;
        text-align: center;
      }
    }
  }
}
